alembic ~= 0.7.6
flake8 ~= 3.5.0
Flask ~= 0.12.2
Flask-Cors ~= 3.0.3
Flask-GraphQL ~= 1.4.1
Flask-JWT ~= 0.3.2
Flask-Migrate ~= 2.1.1
graphene ~= 1.4.1
graphene-sqlalchemy ~= 1.1.1
graphql-core ~= 1.1
gunicorn ~= 19.7.1
pytest ~= 3.2.3
SQLAlchemy ~= 1.1.14
SQLAlchemy-Searchable ~= 0.10.6
SQLAlchemy-Utils ~= 0.32.19
psycopg2 ~= 2.7.3.1
passlib ~= 1.7.1
flask_testing ~= 0.7.1

